autostart/
obsidian/
kitty/
mc/
Thunar/
yandex-browser/
qView/
session/
systemd/
yay/
xfce4/
mpv/
neofetch/
plasma-workspace/
pulse/
rncbc.org/
vlc/
pipewire/
pavucontrol-qt/
Code/
Code - OSS/
dconf/
fish/
gtk-3.0/
Insync/
htop/
JetBrains/
kate/
KDE/
kde.org/
arkrc
dolphinrc
katerc
katevirc
mimeapps.list
okularpartrc
okularrc
pavucontrol.ini
starship.toml
QtProject.conf